/* ========================== ESTILOS DEL DIV DE CLAVES ========================== */
#div_Checkbox_Seleccionar_Varios_Niveles{
    text-align: left;
}

.div_checks_claves{
    font-size: 1.1em;
    font-style: oblique;
    font-weight: bold;    
}

#h2_Div_Clave{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    margin-top: -25px;
}

/* ========================== FIN ESTILOS DEL DIV DE CLAVES ========================== */
























/* ========================== ESTILOS DEL DIV DE NIVELES ========================== */

.niveles {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.formulario_niveles{
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    background-color: #FAFAFA;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.niveles h2 {
    font-size: 2em;
    color: dimgray;
    margin-bottom: 20px;
    font-family: 'sans-serif';
}

.niveles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centrar el contenedor */
    border-radius: 10px;
    background-color: beige;
}

.boton_niveles { /* Hereda estilos generales de los botones */
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: #777;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative; /* Para posicionar el candado */
    overflow: hidden; /* Recortar cualquier sombra que se salga del botón */
}

.boton_niveles:hover {
    transform: scale(1.1);
}

/* Estilos para niveles bloqueados */
.nivel-bloqueado {
    background-color: #555;
    color: #888;
    cursor: not-allowed;
    opacity: 0.7;
}

.nivel-bloqueado:hover {
    transform: none; /* Eliminar el efecto hover */
}

/* Estilos para el nivel desbloqueado (Nivel 1) */
.nivel-desbloqueado {
    background-color: #778CF7; /* Color azul brillante */
    box-shadow: 0 0 10px #778CF7, 0 0 20px #778CF7; /* Efecto neón */
    /*background-color: lightgreen; /* Color azul brillante */
    /*box-shadow: 0 0 10px lightgreen, 0 0 20px lightgreen; /* Efecto neón */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: #fff;
}

.nivel-desbloqueado:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #778CF7, 0 0 25px #778CF7; /* Efecto neón más intenso */
}

/* ========================== H2 H3 NIVELES ========================== */
#h2_Div_Niveles_Clave{
    font-size: 1.7em;
    margin-top: 10px;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;       /* Color del subrayado */
    text-decoration-thickness: 2px;       /* Grosor de la línea */
    text-underline-offset: 3px;          /* Distancia entre el texto y la línea */
    text-decoration-style: solid; 
    font-style: italic;
}

#h4_Div_Niveles{
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

/* ========================== CHK NIVELES ========================== */
.desbloquear_niveles{
    text-align: left;
    margin-left: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.lbl_chk_niveles{
    position: absolute;
    margin-top: 0px;
}

/* ========================== FIN ESTILOS DEL DIV DE NIVELES ========================== */