

.login h2,
.registro h2 { 
    font-size: 2.3em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'sans-serif';
}

.login label,
.registro label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-weight: bold;
    text-align: left;
    font-family: 'Open Sans';
}

.login input[type="text"],
.login input[type="password"],
.registro input[type="text"],
.registro input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #333333;
    box-sizing: border-box;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus,
.registro input[type="text"]:focus,
.registro input[type="password"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.login div,
.registro div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.login div label,
.registro div label {
    margin-left: 5px;
    font-weight: normal;
}

.login .boton,
.registro .boton {
    width: 100%;
    margin-bottom: 15px;
}

.login p,
.registro p {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.login p a,
.registro p a {
    color: #428BCA;
    text-decoration: none;
}

.login p a:hover,
.registro p a:hover {
    text-decoration: underline;
}

#p_Mensaje_Usuario, #p_Mensaje_Password, #p_Mensaje_Confirmar{
    text-align: left;
    margin-top: -15px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 0.7em;
    margin-bottom: 13px;
    color: red;
}

#p_terminos{
    font-size: 0.7em;
    text-align: center;
}

.texto_chk{
    margin-top: 3px;
}

.a_Inicio{
    color: wheat;
    background-color: brown;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    margin-top: 300px;
}

.a_Inicio:hover{
    background-color: darkred;
}