/* ========================== ARCHIVO responsive.css ========================== */

/*
    Este archivo contiene los estilos específicos para pantallas más pequeñas,
    asegurando que la página sea responsive y se adapte a dispositivos móviles.
*/

/* ========================== MEDIA QUERY PRINCIPAL ========================== */
/* Define los estilos para pantallas con un ancho máximo de 768px (típicamente, tablets y móviles) */
@media (max-width: 768px) {

    /* ========================== ESTILOS DEL DIV DE CONTENIDO ========================== */

    main{
        justify-content: flex-start;
    }
    
    .contenido {
        margin: 10px; /* Añade un margen de 10px a todos los lados */
        padding: 10px;
    }

    .titulo{
        margin-top: 0;
    }
    
    .titulo h2{
        font-size: 2.5em;
    }
    /* ========================== ESTILOS DEL PIE DE PÁGINA ========================== */

    footer {
        /*position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;        
        width: 100%; */
    }
    
    .contenedor-popup {
        width: 85%;
    }
    
    .pc{
        display: none !important;
    }
}