/* Estilos para dispositivos móviles (hasta 768px de ancho) */
@media (max-width: 768px) {

  body {
    font-size: 14px; /* Reducir el tamaño de fuente general */
  }

  .container {
    padding: 10px; /* Reducir el padding del contenedor */
  }

  /* Menú principal */
  .menu-image {
    max-width: 70%; /* Aumentar el tamaño de la imagen en el menú */
    margin-bottom: 10px;
  }

  .menu-title {
    font-size: 2em; /* Reducir el tamaño del título en el menú */
    margin-bottom: 5px;
    margin-top: 0;
  }

  .menu-instruction {
    font-size: 1.1em; /* Reducir el tamaño de la instrucción en el menú */
    margin-bottom: 20px;
  }

  .menu-button {
    padding: 12px 25px;
    font-size: 1.1em;
    margin-bottom: 10px;
    width: 90%; /* Ancho completo para los botones del menú */
  }

  /* Juego */
  #Animacion {
    max-width: 50%; /* Ajustar la imagen de animación */
    top: 10px;
    right: 10px;
  }

  textarea {
    min-width: 90%; /* Ancho completo para el textarea */
    font-size: 1em;
  }

  #imagenesMensaje img {
    height: 60px; /* Reducir el tamaño de las imágenes de las notas */
  }

  .clave-selector {
    justify-content: center; /* Centrar los botones de clave */
  }

  .clave-btn {
    padding: 6px 12px;
    font-size: 12px;
    margin: 0 3px;
  }

  button {
    padding: 8px 16px; /* Reducir el padding de los botones */
    font-size: 14px;
    margin: 3px;
  }

  .popup-content {
    width: 90%; /* Ajustar el ancho del popup */
  }

  .popup-content p {
    font-size: 30px; /* Reducir el tamaño de la fuente en el popup */
  }

}